compile = "clear; rm -r -f src/btv/lexer; rm -r -f src/btv/analysis; rm -r -f src/btv/node; rm -r -f src/btv/parser; java -jar sablecc-3.7/lib/sablecc.jar src/btv.sable; javac -cp sablecc-3.7 -d bin $(find src/btv -name \"*.java\"); cp src/btv/lexer/lexer.dat bin/btv/lexer"

run = "java -cp bin btv.Main"
entrypoint = "."
hidden = ["**/*.class", "bin", "sablecc-3.7", ".classpath", ".settings", ".project"]

[packager]
language = "java"

[packager.features]
packageSearch = true

[languages.java]
pattern = "**/*.java"

[languages.java.languageServer]
start = "jdt-language-server"

[unitTest]
language = "java"

[nix]
channel = "stable-22_11"